/* Global */
html, body {
  width: 100%;
  height: 100%;
  margin-top: 3.5vh;
  font-size: 14px;
}

/* md (tablet) */
@media screen and (max-width: 768px) { 
  .card {
    width: 100%;
  }
}

/* lg (desktop) */
@media screen and (min-width: 992px) { 
  .card {
    max-width: 25rem;
  }
}

.inherit, .inherit:hover, .inherit:visited, .inherit:focus { 
  color: inherit; 
}

.separator {
  width: 100%;
  height: 5vh;
  background-color: rgb(52, 59, 64);
}

hr {
  border-color: black;
}

.hr {
  max-width: 15%;
}

/* Navbar */
ul .nav-link {
  text-transform: uppercase;
  margin: 0 10px 0 10px;
  border: solid 1px #343a40;
  padding: 5px 10px 5px 10px;
  font-family: 'Muli', sans-serif;
  font-size: 80%;
}

ul .nav-link:hover {
  padding: 5px 10px 5px 10px;
  border: solid 1px #4bcaff;
  border-spacing: 10px;
  color: #4bcaff !important;
  font-family: 'Muli', sans-serif;
  font-size: 80%;
}

#navTitle {
  font-family: 'Barlow Condensed', sans-serif;
  font-size: 75%;
}

.barlow {
  font-family: 'Barlow Condensed', sans-serif;
}

/* Header */
header {
  color: white;
  padding-bottom: 10vh;
  background: url("../img/header.jpg") no-repeat center;
  position: relative;
  display: table;
  width: 100%;
  height: 100%;
  background-size: cover;
}

.footer {
  background-color: rgb(52, 59, 64);
  color: white;
}

.customBtn:hover {
  background-color: #4bcaff;
}

.fa-angle-double-down:hover {
  color: #4bcaff;
  text-shadow: 2px 2px 3px black;
}

.marginTop {
  margin-top: 100px;
}

.form-group input, select{
  max-width: 30%;
}

.form-group .fluid {
  max-width: 100%;
  width: 100%;
}

.myWell {
  background-color: rgba(52, 59, 64, 0.7);
  padding: 5px 10px 5px 10px;
  border-radius: 5px;
  text-shadow: 1px 1px 2px black;
  border: 1px solid black;
}